//-
	@author Kevin
	@since 12/21/2015

doctype html
html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="local://app/bootstrap.css", rel="stylesheet", type="text/css")
	body
		.container
			h1 Hello, World!
			p
				| This application is running Java Chrome Embedded Framework with HTML templates, & Twitter Bootsrap for UI components.
			p
				a.btn.btn-default.btn-lg(href='https://github.com/viglucci/app-jcef-example', role='button') Learn more
		.container
			.row
				.col-md-4
					h2 Heading
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn.btn-default(href='https://getbootstrap.com/examples/jumbotron/#', role='button') View details »
				.col-md-4
					h2 Heading
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn.btn-default(href='https://getbootstrap.com/examples/jumbotron/#', role='button') View details »
				.col-md-4
					h2 Heading
					p
						| Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
					p
						a.btn.btn-default(href='https://getbootstrap.com/examples/jumbotron/#', role='button') View details »

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")